@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div:first-child,
#root {
  height: 100%;
}

body {
  background: #fff;
  font-family: 'DM Sans';
  font-size: 18px;
  font-weight: 400;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.how-we-work-swiper .swiper-pagination {
  bottom: -10px !important;
}

.how-we-work-swiper .swiper-pagination-bullet {
  transition: all 0.3s ease;
  opacity: 1 !important;
}

.how-we-work-swiper .swiper-pagination-bullet:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

/* SVG Flow Animation */
@keyframes flow {
  0% {
    stroke-dasharray: 0 1000;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 500 500;
  }

  100% {
    stroke-dasharray: 0 1000;
    stroke-dashoffset: -1000;
  }
}

.animate-flow {
  animation: flow 8s linear infinite;
}

.group:hover .group-hover\:pause-animation {
  animation-play-state: paused !important;
}
